<div class="container">
  <!-- Viewchild -->
  <label>use viewchild to focus input element</label>
  <input #inputElement type="text" class="form-control">
  <hr color="red">

  <label>Accessing element using angular directive </label>
  <input [(ngModel)]="input2" type="text" class="form-control">
  <hr color="red">

  <!-- ViewChildren -->
  <label>Viewchildren with angular directives like NgModel </label>
  <input [(ngModel)]="input3" type="text" class="form-control">
  <input [(ngModel)]="input4" type="text" class="form-control">
  <input [(ngModel)]="input5" type="text" class="form-control">
  <hr color="red">

  <!-- Viewchildren with child components -->
  <label>Accessing element using child components </label>
  <app-child [userid]='child1'></app-child>
  <app-child [userid]='child2'></app-child>
  <app-child [userid]='child3'></app-child>
  <!--use viewchild to access data and trigger methods in child componenet from parent -->
  <hr color="red">

  <!-- Viewchildren using template reference variable -->
  <label>Accessing elements using template reference variable </label>
  <input #inputRef type="text" class="form-control">
  <input #inputRef type="text" class="form-control">
  <input #inputRef type="text" class="form-control">
  <hr color="red">


</div>
